/* *{
    border: 1px solid red;
} */


body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( 115deg, rgba(186, 189, 214, 0.932), rgba(201, 206, 136, 0.541) ), url(https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    filter: blur(2px);

}

body{
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.formulario-registro{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    padding: 25px;
    background-color: rgba(212, 209, 175, 0.822);
}

.form-places{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-places > label{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.form-places > input{
    font-size: 1.2rem;
}

span{
    font-style: italic;
    color: gray;
    font-weight: 600;
}

.btn-registrarse{
    width: 300px;
    margin: 10px auto;
    font-size: 1.2rem;
    padding: 10px;
    background-color: rgb(10, 160, 18);
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
}

.btn-externo-registro{
    margin: 10px auto;
}

.btn{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 300px;
    padding: 5px;
    border-style: none;
    border-radius: 10px;

}

.btn > img {
    width: 32px;
    height: 32px;
    padding: 5px;
}

.btn > p{
    font-size: 1rem;
}