

.flex-pos{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto 20px;
    justify-content: space-between;
    padding: 0px;
}


.title{
    text-align: center;
    justify-content: end;
    font-size: 2rem;
    /* padding: 0 20px; */
    flex-grow: 1;
    color: #0a0a7f;
    text-shadow: rgba(204, 204, 204, 0.842) 1px 0 10px;
    
}
.campo-busqueda{
    align-self: flex-end;
    justify-self: flex-end;
    flex-grow: 3;
    text-align: right;
}

.campo-busqueda > input{
    width: 100%;
    height: 20px;
    border: 3px solid rgba(209, 206, 107, 0.932);
    border-radius: 5px;
    font-size: 1.2rem;
}

.table-position{
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    font-family: garamond;
    /* border: 1px solid blue; */

}

.tableframe{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}



.BodyHist{
   
    background-color: rgba(212, 209, 175, 0.541);
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.5rem;
    text-align: center;
}



tr:nth-child(even), th{
    background-color: #f2f2f2a4;
}

tr:nth-child(odd){
    background-color: #ffffff9f;
}

tbody>tr{
    border-bottom: 1px dashed black;
}

tr>td{
    padding: 5px 0px;
}

thead>tr{
    border-bottom: 2px solid black;
}



tbody>tr:hover{
    background-color: rgba(209, 211, 177, 0.658);
    color: rgb(28, 35, 224);
}


th{
    padding: 10px 0;
}


.btns{
    width: 80%;
    text-align: right;
    margin: 15px auto;
    padding: 10px;
}

.btn{
    padding: 10px;
    margin: 0px 10px;
    font-size: 1.2rem;
    background-color: rgb(18, 92, 0);
    box-shadow: 2px 2px 5px #0a0a7f;
    color: white;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.btnEdit{
    background-color: #072cff;
    color: aliceblue;
    font-size: 1rem;
    padding: 5px;
    border-style: none;
    font-weight: bolder;
    border-radius: 5px;
    text-decoration: none;
}