
.BodyHist{
    /* margin: 20px;
    padding: 30px; */
    background-color: rgba(212, 209, 175, 0.664);
}

.flex-pos{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto 20px;
    justify-content: space-evenly;
    padding: 0px;
}


.title{
    text-align: center;
    font-size: 2rem;
    
}
.campo-busqueda{
    align-self: flex-end;
    justify-self: flex-end;

}

.campo-busqueda > input{
    width: 60vh;
    height: 20px;
    border: 3px solid rgba(209, 206, 107, 0.932);
    border-radius: 5px;
    font-size: 1.2rem;
}

.table-position{
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    font-family: garamond;
    /* border: 1px solid blue; */

}

.tableframe{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.5rem;
    text-align: center;
    
}


tr:nth-child(even){
    background-color: #d4d49f;
}

tbody>tr:hover{
    background-color: rgba(209, 211, 177, 0.658);
    color: rgb(28, 35, 224);
    cursor: pointer;
}


th{
    padding: 10px 0;
}


.btns{
    width: 80%;
    text-align: right;
    margin: 15px auto;
    padding: 10px;
}

.btn{
    padding: 10px;
    margin: 0px 10px;
    font-size: 1rem;
    background-color: rgb(0, 23, 99);
    border-color: rgb(0, 23, 99);;
    color: white;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}