.menu-box{
    text-align: center;
}

.ul-box{
    list-style: none;
    padding: 50px 30px;
    background-color: #0084ff3f;
    width: 60vh;
    margin: 0 auto;
    border-radius: 15px;
}

.li-box{
    padding: 20px;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 15px;
}

.li-box:hover{
    background-color: lightgray;
    border-radius: 50px;
}

.li-Link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(0, 4, 255);
}