/* Se divide la pantalla en cuadros de 4 filas por 6 columnas.
*/
.contenedor{
    font-family: garamond;
    margin-left: 0%;
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-height: 567px;
    padding-top: 30px;
}

/* este es el id de la seccion de la imagen
Se selecciona la ubicación de  del logo y el nombre entre
las columnas 1 y 4 y las filas 1 y 5 */
.logo-nombre{
    grid-column: 1/4;
    grid-row: 1/5;
    align-self: center;
    justify-self: end;
    padding-right: 9%;
}

/* Clase para el tamaño de la imagen */
.img-logo-size{
    height: 400px;
    width: 350px;
}

/* se ubica el formulario de ingreso y los botones entre las columnas
4 y 7 y las filas 1 y 5 */
.form-ingreso{
    grid-column: 4/7;
    grid-row: 1/5;
    align-self: center;
    justify-self: start;
    padding-left: 10%;
}

/* Se centran los cuadros de texto y el logo
entre el espacio que los contiene */
.items-logo-center{
    text-align: center;
    font-size: 1.5rem;
    /* padding: 0px; */
}

/* Modifica el tamaño de las imagenes que estan en los botones de acceso */
.img-buttons-size{
    max-width: 32px;
    max-height: 32px;
}

/* Se modifica las dimenciones del formulario a través de esta clase */
.form-ingreso-width-height{
    padding: 20px 50px;
    min-height: 200px;
    min-width: 300px;
    text-align: center;
    text-decoration: none;
}

/* Se modifica el tamaño y ubicación del text "agenda tu cita" */
.ingresar-plataforma>p{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 5%;
}

/* Se centra el formulario de ingreso */
.login-form{
    text-align: center;
    padding: 25px;
    border-width: 1px;
    border-style: ridge;
    border-color: lightgrey;
}

/* Tamaño de los espacios de correo y clave del formulario */
.input-email-clave{
    width: 90%;
    margin: 5px;
    height: 30px;
}

/* botón ingresar */
.ingresar{
    width: 80%;
    height: 20%;
    margin-top: 10px;
    background-color: green;
    border-radius: 10px;
    border-width: 0;
    color: aliceblue;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}


/* Botones de gmail y otro de ingreso */
.external-buttons{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600; 
}


/* Modifica la apriencia del enlace de registro */
.registro > a {
    text-decoration: none;
    color: rgb(0, 0, 255);
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* se le agrega relleno al enlace de registro */
.registro{
    background-color: rgba(255, 228, 196, 0.274);
    padding: 10px;
}

/* efecto de sombreado sobre el enlace de registro cuando se pasa el cursor */
.registro:hover{
    background-color: rgba(251, 255, 0, 0.432);
}


/* Se modifica la pagina cuando cambia el ancho de la pagina */
@media (max-width: 900px){
    .logo-nombre{
        grid-column: 1/7;
        grid-row: 1/2;
        align-self: end;
        justify-self: center;
        padding: 0px;
    }

    /* Clase para el tamaño de la imagen */
    .img-logo-size{
        height: 200px;
        width: 176px;
    }

    .form-ingreso{
        grid-column: 1/7;
        grid-row: 2/5;
        align-self: start;
        justify-self: center;
        padding: 9%;
    }

    /* Se modifica las dimenciones del formulario a través de esta clase */
    .form-ingreso-width-height{
        padding: 0px;
        min-height: 100px;
        min-width: 300px;
    }

    /* Se centra el formulario de ingreso */
    .login-form{
        text-align: center;
        padding: 10px;
        border-width: 1px;
        border-style: ridge;
        border-color: rgba(211, 211, 211, 0.884);
    }
}
